<!DOCTYPE html>
<html>
  <head>
    <title>The Best Rebounder</title>
    <link rel="stylesheet" type="text/css" href="../d3.basketball-shot-chart.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://rawgit.com/mbostock/d3/master/d3.js"></script>
    <script src="http://rawgit.com/virajsanghvi/d3-plugins/master/hexbin/hexbin.js"></script>
    <script src="http://rawgit.com/misoproject/d3.chart/master/d3.chart.js"></script>
    <script src="http://rawgit.com/virajsanghvi/d3.chart.defaults/master/d3.chart.defaults.js"></script>
    <script src="../d3.basketball-shot-chart.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="../bootstrap/css/application.css"></script>
    <style>
        svg { font-family: Arial, sans-serif; }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header right">
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="../views/home.html">Home</a></li>
            <li><a href="../views/one.html">Action Point 1</a></li>
            <li><a href="../views/two.html">Action Point 2</a></li>
          </ul>
      </div>
    </nav>

    <div class="container">
      <div class="span6 top_logo">
          Created by Benjamin Stewart
      </div>
        <div class="hero-unit text-center">
          <h1>How The Best Rebounder In The NBA Could Become Even Better!</h1>
        </div>
    </div>

    <div class="container">
      <div class="Introduction">
        <h2>Background</h2>
        <p>
          Andre Drummond is off to a tremendous start this season.
          He is currently leading the NBA in rebounds with 16.36 rebounds per game.
          This is the highest per game rebounding average since the epic performances of Dennis Rodman
          in the mid 1990s. We are witnessing now is a record worthy feat.
        </p>
        <p>
          The incredible part is that he could get even better! Andre's innate ability to sniff out
          rebounds is unmatched in the NBA but at only 22 years old he is still learning the game.
          Each year he has played in the NBA, his RPG numbers have increased significantly. During
          his first year in the league, from 2012-2013, he averaged 7.6 rebounds a game.
          In the 2014-2015 season, he averaged 13.5 rebounds. Consistent improvement is evident year over year.
        </p>
        <p>
          From the looks of it, he could be on track to momentous numbers. I was curious to see if there
          was anything else that he could do that would have an immediate impact on his total rebounding statistics.
          Through explicit use of the NBA API and advanced statistical reporting available on NBA.com,
          I have created a two point action plan that Andre Drummond can utilize to increase his total number of rebounds per game.
        </p>
        <p>
          *Stats taken as of 12/19/2015.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="action-plan">
          <h2>The Action Plan</h2>
          <p>
            <strong>
              If Andre Drummond improves his ability to actively box out during contested rebounds and if he follows his own
              shot consistently, his rebounding numbers will significantly increase. To all the GMs, coaches,
              and players, you have been warned!
            </strong>
          </p>
          <p>
            <h4><a href="../views/one.html">Action Point 1: Improve His Ability To Actively Box Out</a></h4>
            Everyone who has ever played basketball has occasionally been guilty of not boxing out. Through this
            first action point, we will identify and quantify specific ways that Andre can improve his ability to increase
            his contested rebound percentage. Key factors will include assessing his hand/arm placement prior to a
            rebound and his ability to use his body to box out defenders.
            <b><a href="../views/one.html">Learn more here!</a></b>
          </p>
          <p>
            <h4><a href="../views/two.html">Action Point 2: Follow His Own Field Goal Attempts</a></h4>
            Following your own shot is a difficult habit to master. Believing your shot will be successful
            after it is released, prevents you from consistently following it. I think that this is more
            acceptable for perimeter jump shooters because they often have to prepare for transition defense.
            But in Andre Drummond's case, 94.2%** of his field goals are within 10 feet of the basket, he should be following everything.
            <b><a href="../views/two.html"> Learn more here!</a></b>
          </p>
          <p>
            **Stats taken as of 12/19/2015
          </p>
      </div>
    </div>

    <div class="container">
        <h2>Basic Assumptions</h2>
        <ol>
          <li>Similar refereeing throughout each contest</li>
          <li>There are no injuries that a player is playing through</li>
          <li>The sample size is an average for the entire season</li>
          <li>Assuming there is no third confounding factor</li>
        </ol>
    </div>

    <div class="container">
        <h2>The Code</h2>
        <p>
          <strong>Description:</strong>
          This project came to life using primarily JavaScript. Currently there is no backend,
          but as I gather more data, I plan on implementing a Node.js RESTful backend.
          I didn't have a strong background using D3 but I felt it was necessary for this project
          to convey some key points and I'm very glad I dove in and was able to really play around with
          it. Below is a brief example calling multiple functions to build the court visualization that
          is used throughout the web application:
        </p>
        <pre id="code">
          var BasketballShotChart = d3.chart('BasketballShotChart', {
            initialize: function () {
              this.calculateVisibleCourtLength();
              var base = this.base
                .attr('class', 'shot-chart');
              // draw base court
              this.drawCourt();
              // add title
              this.drawTitle();
              // draw legend
              this.drawLegend();
              // add data
              this.drawShots();
            }
        </pre>
        <p>
          <strong>Conventions:</strong>
          The goal of this project was to show my passion, comfort, and knowledge of sports from a developer's perspective.
          I wanted to implement very concise, clean code and in the source files you will see there are quite a few
          comments showing my thought process. Example below:
        </p>
          <pre id="code">
            d3.chart.initializeDefaults(BasketballShotChart, {
              // basketball hoop diameter (ft)
              basketDiameter: 1.5,
              // distance from baseline to backboard (ft)
              basketProtrusionLength: 4,
              // backboard width (ft)
              basketWidth: 6,
              // title of hexagon color legend
              colorLegendTitle: 'Efficiency',
          </pre>
        <p>
          <strong>Challenges:</strong>
          Through this mini-project, I found it challenging to work with the NBA API because there was a lack of
          documentation available. This posed challenges when looking for specific endpoints to access data.
          Looking forward, I envision a dynamic web application and the best way for me to achieve this will be
          through a Nokogiri web scraper as opposed to using the NBA API. This will allow me to extract more robust information.
        </p>
    </div>
  </body>
</html>
