<!DOCTYPE html>
<html>
  <head>
    <title>d3-basketball-rebound-chart</title>
    <link rel="stylesheet" type="text/css" href="../d3.basketball-shot-chart.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://rawgit.com/mbostock/d3/master/d3.js"></script>
    <script src="http://rawgit.com/virajsanghvi/d3-plugins/master/hexbin/hexbin.js"></script>
    <script src="http://rawgit.com/misoproject/d3.chart/master/d3.chart.js"></script>
    <script src="http://rawgit.com/virajsanghvi/d3.chart.defaults/master/d3.chart.defaults.js"></script>
    <script src="../d3.basketball-shot-chart.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <script src="../bootstrap/css/application.css"></script>
    <style>
        svg { font-family: Arial, sans-serif; }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header right">
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="../views/home.html">Home</a></li>
            <li><a href="../views/one.html">Action Point 1</a></li>
            <li><a href="../views/two.html">Action Point 2</a></li>
          </ul>
      </div>

    </nav>
      <div class="container">
        <div class="span6 top_logo">
            Benjamin Stewart <strong>12/18/15</strong>
        </div>
          <div class="hero-unit text-center">
            <h1>How The Best Rebounder In The NBA Could Become Even Better!</h1>
          </div>
      </div>

  <!--Case 1: Actively Boxing Out -->
  <div class="container">
    <h2>First Action Point: Actively Boxing Out</h2>
    <h4>
      <i>"a<b>k</b>-tiv-<b>lee</b> <b>bok</b>-sing out"</i>: The ability of a player to be in proper position to gather a rebound.
      This includes having their hands above their waist, their arms away from their sides, and the use of their body as a tool
      to block out any defender during a contested rebound attempt
    </h4>

    <div class="row">
      <div class="span12 text-center">
        <div id="chart"></div>
      </div>
    </div>
    <div class="row">
      <div class="span12 text-center">
      </div>
    </div>
    <div class="row">
      <div class="span6 text-center">
        <!-- Good Position  -->
        <img src="../assets/good_drummond_final.jpg" alt="Gameplay Screenshot">
        (image 1.1)
      </div>
      <div class="span6 text-center">
        <!-- Poor Position -->
        <img src="../assets/bad_drummond_final.jpg" alt="Gameplay Screenshot">
        (image 1.2)
      </div>
    </div>
  </div>

  <div class="container">
    <div class="analysis">
        <h2>Analysis</h2>
        <p>
          The above shot chart is displaying missed field goal attempts from the Detroit Pistons vs. Los Angeles Clippers game
          on Dec 14, 2015 (excluding overtime). Shots less than eight feet from the basket have been filtered out to ensure that
          a potential rebounder would have time to get into position for a rebound. Also, the chart is excluding any alley oops, layups, or post-ups because
          rebounding these events rely more on a quick second jump then boxing out and practicing rebounding fundamentals. The chart also does not focus on
          whether Andre Drummond grabbed the specific rebound, it is just looking at if he was in proper position to grab the rebound.
          Lastly, shots taken while Andre Drummond was out of the game, have been excluded from the chart.
        </p>
        <p>
          The efficiency metric is based on a custom "z" scale that is responsible for assigning a color to each hexagon from red to green. This scale
          is based on two main factors. The first factor is checking to see if a rebounder is in a proper stance. This means that their arms are not touching their sides
          and their hands are above their waist. This will ensure that they are prepared for a rebound. The second metric focuses on the players
          ability to actually use their body to box out defenders. This is very important during contested rebounds and can greatly impact overall numbers.
        </p>
        <p>
          If a player has the proper stance with correct arm/hand placement and they are making an effort to box out, they will be given a z-score of +2 as seen
          in image 1.1. If a player doesn't have the proper stance and they don't make an effort, they will be assigned a z-score of -2 as seen in figure
          1.2. The range in between will depend on defense and meeting one or both criteria.
        </p>
        <h4>Good rebounder with bad tendencies vs. bad rebounder with good tendencies</h4>
        <p>
          From the above chart, it is clear that Andre Drummond has a solid knack for rebounding. He consistently demonstrates correct form and he is great at tracking
          down rebounds that originated from all over the court. I would like to draw attention to the four dark red circles on the chart. These four instances show a complete
          lack of preparedness and position. During these specific instances, Andre was unable to grab the rebound but it wasn't because he was being boxed out. During 3/4 of the
          shot attempts, he was just frozen because he was "shot watching". I think it is a safe estimation to say that if he actually tried to get into position during these shots
          he would have increased his rebound total for the game by at least one rebound.
        </p>
        <p>
          Andre stands at 6'11" and is one of the most athletic big men in the game today. This sort of athleticism allows him to do some very special things. But this same athleticism
          he sometimes uses/relies on in place of solid, consistent fundamentals and this will negatively affect his game as he ages and continues to play younger, more athletic talent.
          It is important that Andre continues to develop solid rebounding habits. I think from the chart that overall, he is a good rebounder with improving tendencies. I'm comfortable
          predicting that if he can become more consistent and turn more hexagons on the chart to dark green that he can easily grab an additional 1-3 more rebounds a game.
        </p>
    </div>
  </div>

  <div class="container">
      <h2>Code</h2>
      <p>
        Below is a sample of code used to generate the above visualization:
      </p>
          <!-- breaking indentation for display -->
      <pre id="code">
        d3.select(document.getElementById('chart'))
            .append("svg")
              .chart("BasketballShotChart", {
                width: 800,
                title: 'Missed Defensive Field Goals',
                hexagonFillValue: function(d) {  return d.z; },
                // reverse the heat range to map our z values to other colors
                heatScale: d3.scale.quantile()
                  .domain([-2.5, 2.5])
                  .range(['#B02B48', '#F08460', '#ace1af', '#03c03c']),
                hexagonBin: function (point, bin) {
                  var currentZ = bin.z || 0;
                  var totalAttempts = bin.attempts || 0;
                  var totalZ = currentZ * totalAttempts;

                  var attempts = point.attempts || 1;
                  bin.attempts = totalAttempts + attempts;
                  bin.z = (totalZ + (point.z * attempts))/bin.attempts;
                },
                hexagonRadiusThreshold: 4,
              })
                .draw(data);
      </pre>
  </div>
    <script>
    // If he got the rebound or not
        var data =  [{"x":3,"y":18,"made":2,"attempts":2,"z":-1}, {"x":4,"y":18,"made":2,"attempts":2,"z":+2}, {"x":9,"y":25,"made":2,"attempts":2,"z":+1}, {"x":9,"y":27,"made":2,"attempts":2,"z":+1}, {"x":14,"y":28,"made":2,"attempts":2,"z":-1},
        {"x":15,"y":29,"made":2,"attempts":2,"z":+1}, {"x":17,"y":29,"made":2,"attempts":2,"z":-2}, {"x":17,"y":30,"made":2,"attempts":2,"z":+1}, {"x":43,"y":23,"made":2,"attempts":2,"z":+2}, {"x":48,"y":7,"made":2,"attempts":2,"z":-2},
        {"x":49,"y":5,"made":2,"attempts":2,"z":+2}, {"x":17,"y":10,"made":2,"attempts":2,"z":+2}, {"x":9,"y":15,"made":2,"attempts":2,"z":+2}, {"x":10,"y":16,"made":2,"attempts":2,"z":-1},
        {"x":18,"y":21,"made":2,"attempts":2,"z":+2}, {"x":19,"y":20,"made":2,"attempts":2,"z":+2}, {"x":25,"y":19,"made":2,"attempts":2,"z":+2},
        {"x":34,"y":21,"made":2,"attempts":2,"z":+1}, {"x":33,"y":23,"made":2,"attempts":2,"z":+1}, {"x":40,"y":22,"made":2,"attempts":2,"z":+1}, {"x":42,"y":19,"made":2,"attempts":2,"z":+2}, {"x":34,"y":18,"made":2,"attempts":2,"z":-2}, {"x":38,"y":13,"made":2,"attempts":2,"z":+2},
        {"x":42,"y":16,"made":2,"attempts":2,"z":+2}, {"x":42,"y":14,"made":2,"attempts":2,"z":+2}, {"x":44,"y":14,"made":2,"attempts":2,"z":+1}, {"x":42,"y":8,"made":2,"attempts":2,"z":-2}]
        eval(document.getElementById('code').innerHTML);
    </script>
  </body>
</html>
